In [1]:
import pandas as pd
import glob

# 파일 경로 지정
path = r'C:\Users\hyunj\machin_prj\대중교통 이용객\버스'
file_list = glob.glob(f"{path}/*.csv")  # 폴더 내의 모든 .xlsx 파일 가져오기

# 모든 파일을 읽어 DataFrame에 추가
dataframes = []
for file in file_list:
    df = pd.read_csv(file,encoding='cp949')  # 엑셀 파일 읽기
    dataframes.append(df)

# 하나의 DataFrame으로 결합
combined_df = pd.concat(dataframes, ignore_index=True)

C:\Users\hyunj\AppData\Local\Temp\ipykernel_15988\3161406954.py:11: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file,encoding='cp949')  # 엑셀 파일 읽기
C:\Users\hyunj\AppData\Local\Temp\ipykernel_15988\3161406954.py:11: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file,encoding='cp949')  # 엑셀 파일 읽기
C:\Users\hyunj\AppData\Local\Temp\ipykernel_15988\3161406954.py:11: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file,encoding='cp949')  # 엑셀 파일 읽기
C:\Users\hyunj\AppData\Local\Temp\ipykernel_15988\3161406954.py:11: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file,encoding='cp949')  # 엑셀 파일 읽기
C:\Users\hyunj\AppData\Local\Temp\ipykernel_15988\3161406954.py:11: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file,encoding='cp949')  # 엑셀 파일 읽기
C:\Users\hyunj\AppData\Local\Temp\ipykernel_15988\3161406954.py:11: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file,encoding='cp949')  # 엑셀 파일 읽기
C:\Users\hyunj\AppData\Local\Temp\ipykernel_15988\3161406954.py:11: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file,encoding='cp949')  # 엑셀 파일 읽기
C:\Users\hyunj\AppData\Local\Temp\ipykernel_15988\3161406954.py:11: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file,encoding='cp949')  # 엑셀 파일 읽기

In [2]:
# 1. 숫자형 열만 선택
numeric_cols = combined_df.select_dtypes(include='number').columns

# 2. '역명'별로 숫자형 열 합계 계산
result_bus = combined_df.groupby('역명')[numeric_cols].sum().reset_index()

# 3. 숫자형 열 전체의 합계를 계산해서 '총합' 열 생성
result_bus['총합'] = result_bus[numeric_cols].sum(axis=1)

result_bus = result_bus[['역명', '총합']]
result_bus.head(4)

                역명         총합
0  (구)경남호텔앞(00028)  184071427
1  (구)경남호텔앞(00068)  184099650
2  (구)경남호텔앞(00094)  184061240
3  (구)경남호텔앞(00108)  184066217

In [3]:
import pandas as pd
import glob

# 파일 경로 지정
path = r'C:\Users\hyunj\machin_prj\대중교통 이용객\서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv'
df_sub = pd.read_csv(path,encoding='cp949')  # 엑셀 파일 읽기

df_sub.head(1)

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202503,1호선,동대문,551,17,11164,1862,9327,6671,17135,...,10066,1041,3207,5,305,0,0,0,0,20250403

In [7]:
# 1. 숫자형 열만 선택
numeric_cols = df_sub.select_dtypes(include='number').columns

# 2. '역명'별로 숫자형 열 합계 계산
result_sub = df_sub.groupby('지하철역')[numeric_cols].sum().reset_index()

# 3. 숫자형 열 전체의 합계를 계산해서 '총합' 열 생성
result_sub['총합'] = result_sub[numeric_cols].sum(axis=1)

result_sub = result_sub[['지하철역', '총합']]

# 예시: 'name' 열에 지하철역 이름이 있다고 가정
result_sub['지하철역'] = result_sub['지하철역'].apply(lambda x: x if str(x).endswith('역') else f'{x}역')
result_sub

           지하철역          총합
0     4.19민주묘지역  1873837453
1           가능역  2558366717
2         가락시장역  5139574037
3      가산디지털단지역  5423908893
4           가양역  2654086065
..          ...         ...
593         회룡역  2600648530
594         회현역   466005169
595  회현(남대문시장)역  2242889765
596      효창공원앞역  4780559397
597  흑석(중앙대입구)역  2577636773

[598 rows x 2 columns]

In [8]:
# 전체 승객 합 계산
total_passengers = result_bus['총합'].sum()

# 승객 밀도 가중치 계산
result_bus['가중치'] = result_bus['총합'] / total_passengers

result_bus.head(4)

                역명         총합       가중치
0  (구)경남호텔앞(00028)  184071427  0.000019
1  (구)경남호텔앞(00068)  184099650  0.000019
2  (구)경남호텔앞(00094)  184061240  0.000019
3  (구)경남호텔앞(00108)  184066217  0.000019

In [9]:
# 전체 승객 합 계산
total_passenger = result_sub['총합'].sum()

# 승객 밀도 가중치 계산
result_sub['가중치'] = result_sub['총합'] / total_passenger

result_sub

           지하철역          총합       가중치
0     4.19민주묘지역  1873837453  0.001217
1           가능역  2558366717  0.001661
2         가락시장역  5139574037  0.003337
3      가산디지털단지역  5423908893  0.003522
4           가양역  2654086065  0.001723
..          ...         ...       ...
593         회룡역  2600648530  0.001689
594         회현역   466005169  0.000303
595  회현(남대문시장)역  2242889765  0.001456
596      효창공원앞역  4780559397  0.003104
597  흑석(중앙대입구)역  2577636773  0.001674

[598 rows x 3 columns]